* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}

header{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size:cover;
  background-position:bottom;
}

.header-text{
  padding: 20px;
}

main{
  width:840px;
  margin:50px auto;
}


.box-text{
  padding:30px;
  margin-bottom: 30px;
  border-bottom: 1px solid ;
}

